@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button {
  @apply w-full rounded-md py-2  text-center font-semibold outline-none hover:bg-slate-200 active:bg-slate-300 lg:ml-5 lg:w-auto lg:min-w-max lg:px-5;
}

.border-bottom {
  @apply border-b-2 border-slate-300;
}

.active-sidebar {
  left: 0;
}

.form-field-container:focus-within {
  border: 5px solid black;
}

.textfield {
  @apply mb-2 flex w-full items-center gap-2 rounded-lg border-2 border-slate-600 p-2 ring-black;
}
textarea {
  resize: none;
}
label {
  @apply font-semibold;
}
input:autofill {
  box-shadow: 0 0 0 30px white inset !important;
}

button.active {
  background-color: rgb(148 163 184) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.thumbnail-list > div {
  height: 25%;
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
.accordeon:hover > .accordeon-step > .accordeon-bar {
  opacity: 1;
}
.accordeon-step:hover > .accordeon-bar {
  background-color: rgb(200, 0, 0);
}
