@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scrollbar-gutter: stable;
}
.form-field-container:focus-within {
  border: 5px solid black;
}
.userOption {
  @apply w-full py-2 outline-none hover:bg-slate-200 active:bg-slate-300;
}
.textfield {
  @apply mb-2 flex w-full items-center gap-2 rounded-lg border-2 border-slate-600 p-2 ring-black;
}
textarea {
  resize: none;
}
label {
  @apply font-semibold;
}
input:autofill {
  box-shadow: 0 0 0 30px white inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.circle {
  clip-path: circle(40%);
}
@media (min-width: 1024px) {
  .on-parent-hover {
    display: none;
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  pointer-events: none;
  animation: loading 2s linear infinite;
}
*:hover > .on-parent-hover {
  display: block;
}
svg {
  pointer-events: none !important;
  user-select: none;
}
image,
svg {
  z-index: 0;
}
.thumbnail-list > div {
  height: 25%;
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
.accordeon:hover > .accordeon-step > .accordeon-bar {
  opacity: 1;
}
.details-list > li {
  display: flex;
}
.details-list > li > span {
  width: 10vw;
  max-width: 400px;
  width: 50%;
  min-width: 100px;
}
.details-list > li > span:first-child {
  color: gray;
}
.min-h-fullscreen {
  min-height: calc(100vh - 5rem) !important;
}
.accordeon-step:hover > .accordeon-bar {
  background-color: rgb(200, 0, 0);
}

.consoleForm > input {
  text-overflow: ellipsis;
}
