.list > li {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.list > li > button:hover {
  background-color: rgb(209, 209, 209);
}
.list > li > button:active {
  background-color: rgb(189, 189, 189);
}
